* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20,20,20);

}

/*header*/

.myGenres {
    background-color: rgb(20,20,20);
    margin-left: 10px;
    font-size: 1em;
    padding: 2px;
}

.myProf {
    background-color: transparent;
    border: 0;
    width: 3rem;
}

.myAvatar {
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: transparent;
}

.mySearch {
    color: white;
}

.myName {
    color: white;
    margin: 0 10px;
}


/*sections*/

section {
    margin-top: 30px;

}


h4 {
    font-size: medium;
}

.carousel-inner {
    overflow: visible;
}

.myControl {
    background-color: rgba(70, 70, 70, 0.2);
    width: 2%;
    top: 36px;
    z-index: 10;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    
}

.card-cnt {
    height: auto;
    transition: all 0.3s ease-in-out;
    border-radius: 3%;
}

.card {
    border: 1px lightslategrey;
    background: rgba(30, 30, 30);
}

.card-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    margin-top: -25px;
    transition: all 0.3s ease-in-out;

}

.card-info .bi {
    font-size: 10px;
    text-align: center;
}

.card-btn{
    padding: 0;
    border-radius: 50%;
    width: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.card:hover {
    scale: 1.5;
    z-index: 5;
    overflow: visible;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-cnt:hover .card-info {
    visibility: visible;
    margin-top: 10px;
}

.videoTitle {
    margin-top: -25px;
    transition: all 0.3s ease-in-out;
    font-size: x-small;
}

.card-cnt:hover .videoTitle {
    margin: 10px;
} 

/*footer*/

footer {
    margin-bottom: 0;
}

.footer-cnt {
    margin-top: 50px;

    max-width: 50%;
    height: 100%;
    /*background-color: lightcyan;*/

}

.socialIcons {
    font-size: small;
    padding: 0;
}

.myList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    font-size: x-small;
}

.list-item {
    margin: 5px 2px;
}

.footer-cnt .btn {
    font-size: x-small;
    padding: 2px;
}

.mySpan {
    font-size: small;
    margin-top: 7px;
}

/*prova JS*/

.test {
   opacity: 0;
}

